/* @media only screen and (max-width: 300px) {
    .body {

    }

}  */

/* @media only screen and (max-width: 992px) {
    .body {
        width: 

    }

}  */

#workSign {
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 1;
    margin-left: 400px;    

}



@media only screen and (min-width: 992px) {
    
.body{
    /* height: 200px; */
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(25, 2, 75) , rgb(82, 162, 253));
    /* background-repeat: no-repeat; */
}

.nav-item{
    padding-left: 55px;
    padding-top: 40px;
    font-family: 'Old Standard TT', serif;
}

.innerBackgroundCircle {
    height: 160px;
    width: 160px;
    /* background-color: rgb(250, 240, 108); */
    background-color: rgb(24, 2, 66);
    background-image: url("./Floating-Stars-PNG-HD.png");
    border-radius: 50%;
    margin-left: 21px;
    /* margin-top: 5px; */
  }

  .backgroundCircle {
    height: 200px;
    width: 200px;
    /* background-color: rgba(0, 0, 0); */
    background-color: rgb(241, 238, 59);

    border-radius: 50%;
    margin-left: 450px; 
    margin-top: 50px;
  }

  #headshot {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 10px;
  }

  
  #resumeLinkLogo{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 17px;
    background-color: azure;
    /* padding-left: 10px; */
}

#linkedinlinkLogo{
    height: 40px;
    width: 40px;
    margin-left: 3px;
    margin-right: 10px;
    /* background-color: azure; */

}
#githubLinkLogo{
    height: 40px;
    width: 40px;
    margin-right: 15px;
    /* background-color: azure; */

}

.nav-link {
    color: red;
    padding-right: 10px;
}

#pastProjects{
    margin-left: 25px;
    text-decoration: underline;
    font-size: 35px;

}

.projectText{
    margin-left: 20px;
    /* margin-left: 60px; */
    padding-top: 25px;
    color: red;
}

.thumbnailImage {
    border: 2px solid rgb(142, 169, 243); 
    border-radius: 4px; 
    padding: 5px; 
    margin-top: 40px; 
    /* margin-left: 40px;  */
    width: 150px;
  }
  
 
  .thumbnailImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


}                           /*end lg screen media query*/

  /* .menu{
    padding-top: 70px;
    text-align: left;
    list-style-type: none;
    font-family: 'Old Standard TT', serif;
    color: rgb(169, 148, 248);
    font-weight: 900;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
} */


/* #line2{
    padding-left: 40px;
    color: rgb(64, 142, 243);
}


.linkList{
    padding-bottom: 50px;
} */


  /* #stateheader{
    text-decoration-line: underline;
    padding-left: 18px; 
  } */



/* linkHead{
    padding-left: 50px;
    text-decoration: underline;
    font-family: 'Old Standard TT', serif;
}# */


/* #statement{
    padding-top: 8px;
    font-family: 'Old Standard TT', serif;
}


#why{
    margin-top: 90px;
    padding-top: 8px;
    border-style: solid;
    border-width: 0.75px;
    background-color: lightgrey;
    font-family: 'Old Standard TT', serif;
}


.cardimg{
    width: 150px;
    height: 120px;
    padding-left: 5px;
    padding-top: 5px;
}

.card-content{

    padding-right: 10px;
    padding-top: 10px;
}


.showProject{
    margin-top: 60px;
    margin-right: 336px; 
    padding-top: 8px;
    padding-left: 5px;
    border-style: solid;
    background-color: darkcyan;

}

    #trainDesc{
        margin-right: 200px:
    }




.projectDisplayCard{
    margin-left: 5px;
    padding-right: 5px;
    background-color: whitesmoke;
}

#list1 {
    padding-top: 10px;
}

#list2 {
    padding-top: 47px;
} */

