#body{
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: 1360px 680px;
}

.nav-item{
    padding-right: 50px;
}

  .backgroundCircle {
    height: 190px;
    width: 190px;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 500px;

  }

  #headshot {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    margin-left: 49px;
    margin-top: 10px;
  }

  #mainbar{
    top: 50px;
    left: 50px;
    height:115px;
    background: rgba(16, 19, 161, 0.4);
    background-image: url('./Floating-Stars-PNG-HD.png');
    margin-top: 100px;
  }

  .menu{
    padding-top: 70px;
    text-align: left;
    list-style-type: none;
    font-family: 'Old Standard TT', serif;
    color: rgb(169, 148, 248);
    font-weight: 900;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


#line2{
    padding-left: 40px;
    color: rgb(64, 142, 243);
}

  #stateheader{
    text-decoration-line: underline;
    padding-left: 18px; 
  }


    #linkLogo{
        height: 30px;
        width: 30px;
    }



#ulLinks{
    list-style: none;
}


/* linkHead{
    padding-left: 50px;
    text-decoration: underline;
    font-family: 'Old Standard TT', serif;
}# */


#linkBtn1{
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
    background-color: lightsteelblue;
}

#linkBtn2{
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
    background-color: lightsteelblue;
}


#statement{
    /* margin-top: 300px; */
    padding-top: 8px;
    /* border-style: solid; */
    /* border-width: 0.75px;   */       /* theses 3 lines got rid of link background*/
    /* background-color: lightgrey; */
    font-family: 'Old Standard TT', serif;
}


#why{
    margin-top: 90px;
    padding-top: 8px;
    border-style: solid;
    border-width: 0.75px;
    background-color: lightgrey;
    font-family: 'Old Standard TT', serif;
}


.cardimg{
    width: 150px;
    height: 120px;
    padding-left: 5px;
    padding-top: 5px;
}

.card-content{

    padding-right: 10px;
    padding-top: 10px;
}


.showProject{
    margin-top: 60px;
    margin-right: 336px; 
    padding-top: 8px;
    padding-left: 5px;
    border-style: solid;
    background-color: darkcyan;

}

    #trainDesc{
        margin-right: 200px:
    }




.projectDisplayCard{
    margin-left: 5px;
    padding-right: 5px;
    background-color: whitesmoke;
}

#list1 {
    padding-top: 10px;
}

#list2 {
    padding-top: 47px;
}
